/***********************/
/* basic page styling */
/*********************/

body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
}

#explaination-text {
  font-size: 40px;
  font-weight: bold;
}

.explaination-well {
  background-image: url("../img/clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.column-border {
  height: 200px;
  border: 2px solid black;
  background-color: lightblue;
}

.panel1 {
  height: 260px;
  background-image: url("../img/clouds.jpg");
}

/***********************/
/* flash card styling */
/*********************/

.bordered {
  border: 1px solid purple;
  padding: 5px;
}

#html-flashcard-info {
  display: none;
}

#block-elements-info {
  display: none;
}

#inline-elements-info {
  display: none;
}

#tags-info {
  display: none;
}

#attributes-info {
  display: none;
}

#relative-path-info {
  display: none;
}
